::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  cursor: none;

}
img {
  width: 100%;
  position: relative;
  animation: floatBubble 40s linear alternate infinite;
  height: 17788px;
}

@keyframes floatBubble {
    0% {
        top:0px;
    }
    100% {
        top: -17000px;
    }
}
