::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  cursor: none;

}

img {
  width: 100%;
  position: relative;
  animation: full-height-scroll 20s linear alternate infinite;
  height: 10000px;
}

@keyframes full-height-scroll {
    0% {
        top:0px;
    }
    100% {
        top: -10000px;
    }
}
